[Unit]
Description=Daily 00:00 safe rclone push
Requires=alphaos-safe-rclone-push.service

[Timer]
OnCalendar=*-*-* 00:00:00
Persistent=true

[Install]
WantedBy=timers.target
