[Unit]
Description=αOS Sync (%i)
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=%h/.dotfiles/bin/aos-sync run %i
