/* ===============================
 *   alphaOS Theme Manifest (Voice Legacy)
 *   =============================== */

@import url("/themes/obsidian.css");
@import url("/themes/aurora.css");
@import url("/themes/dawn.css");
@import url("/themes/monk.css");
@import url("/themes/copper.css");
@import url("/themes/forestnight.css");
@import url("/themes/inkgold.css");
@import url("/themes/bloodred.css");
