/* ===============================
 *   alphaOS Theme Manifest (Core)
 *   =============================== */

@import url("/themes/base.css");

/* Main */
@import url("/themes/slate.css");
@import url("/themes/matrix.css");
@import url("/themes/neutral.css");
@import url("/themes/cyan.css");

/* Door */
@import url("/themes/github.css");
@import url("/themes/ocean.css");
@import url("/themes/blackred.css");
